ul>li, .social {
    display: inline;
    margin: 20px;
}
.social {
    width: 20px;
    height: 20px;
}
.pict {
    width: 100%;
}
div>.pict {
    width: 30%;
    display: inline;
}
.assortment {
    background-color: #F1F3F4;
}
h1 {
    font-family: "SF Pro Display";
    font-size: 65px;
    font-weight: bold;
    width: 30%;
    display: inline-block;
}
.tel {
    display: inline-block;
    width: 170px;
    
}
nav {
    width: 30%;
    display: inline-block;
    text-align: right;
    margin-left: 20%;
}
header>div {
    width: 60%;
    display: inline;
}
.social {
    display: inline-block;
    width: 20%;
    margin: 10;
}