@font-face {
    font-family: "SF" ;
    font-display: swap;
    src: url(../font/SF_Pro_Display_Thin_Italic.woff)format(woff);
    font-weight: 100;
    font-style: normal;
    color: #072234;
   }
@font-face {
    font-family: "SF" ;
    font-display: swap;
    src: url(../font/SF_Pro_Display_Ultralight.woff)format(woff);
    font-weight: 200;
    font-style: normal;
    color: #072234;
   }
@font-face {
    font-family: "SF" ;
    font-display: swap;
    src: url(../font/SF_Pro_Display_Light.woff)format(woff);
    font-weight: 300;
    font-style: normal;
    color: #072234;
   }
@font-face {
    font-family: "SF" ;
    font-display: swap;
    src: url(../font/SF_Pro_Display_Regular.woff)format(woff);
    font-weight: 400;
    font-style: normal;
    color: #072234;
   }
@font-face {
    font-family: "SF" ;
    font-display: swap;
    src: url(../font/SF_Pro_Display_Medium.woff)format(woff);
    font-weight: 500;
    font-style: normal;
    color: #072234;
   }
@font-face {
    font-family: "SF" ;
    font-display: swap;
    src: url(../font/SF_Pro_Display_Semibold.woff)format(woff);
    font-weight: 600;
    font-style: normal;
    color: #072234;
   }
@font-face {
    font-family: "SF" ;
    font-display: swap;
    src: url(../font/SF_Pro_Display_Bold.woff)format(woff);
    font-weight: 700;
    font-style: normal;
    color: #072234;
   }
@font-face {
    font-family: "SF" ;
    font-display: swap;
    src: url(../font/SF_Pro_Display_Black.woff)format(woff);
    font-weight: 800;
    font-style: normal;
    color: #072234;
   }
@font-face {
    font-family: "SF" ;
    font-display: swap;
    src: url(../font/SF_Pro_Display_Heavy.woff)format(woff);
    font-weight: 900;
    font-style: normal;
    color: #072234;
   }

body {
    font: 400 16px "SF";
    
}
a   {
    text-decoration: none;
}
h1 {
    font: 700 120px/108px "SF";
    margin-bottom: 0;
    width: 40vw;
}
h2 {
    font: 700 64px/57.6px "SF";
    margin: 0;
}
h3 {
    font: 600 36px/50.4px "SF";
}
h4 {
    font: 700 24px/33.6px "SF";
}
h5,
nav a {
    font: 600 16px/22.4px "SF";
    text-decoration: none;
}
nav a:hover{
    padding-bottom: 18px;
    border-bottom: solid 3px #409DE2 ;

}
nav a:hover,
h1 span {
    color: #409DE2;
}
nav {
    margin-right: 50px;
}

.mobile a {
    color: #072234;
    font: 500 16px/22.4px "SF";
}

li {
    list-style: none;
}

.largeText {
    font: 400 24px/33.6px "SF";
}

p, div>span {
    line-height: 22.4px;
}

div>a {
    color: #409DE2;
    font: 500 16px/14.4px "SF";
}
header {
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    border-bottom: solid 1px #000;
    margin-bottom: 85px;
}

header div {
    display: flex;
    
}
header ul {
    display: flex;
    gap: 20px;
    margin: 0;
    
}
/*------------------------------------Section 1*/
main img {
    width: 96vw;
    max-width: 1720px;
}
section p {
    font: 400 16px/22.4px "SF";
    width: 70vw;
    color: #8C9EAA;
}
.mainTop {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 50px;
}
.mobile {
    width: 150px;
    margin-right: 150px;
}
.first {
    margin-bottom: 150px;
}
/*------------------------------------Section 2*/
.section2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: -150px;
}

.block p {
    padding: 0 15px;
    width: 830px;
}
.blockImg {
    display: flex;
    align-items: flex-end;
}
.photo {
    width: 33%;
    margin: 0 15px;
}
.second {
    margin-bottom: 150px;
}



/*------------------------------------Section 3*/
.third {
    display: flex;
    background-color: #F1F3F4;
    justify-content: space-between;
    height: 650px;
}
.prev,
.next {
    width: 30px;
}
.block .textAndNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    
}
.textAndNav p {
    width: 700px;
    padding: 0;

}

.third .block {
    z-index: 2;   
    width: 850px;
}


.blockOfPict .pict {
    width: 350px;
    
}


.backgroundlogo {   
    font: 700 200px "SF";
    position: relative;
    text-transform: uppercase;
    top: -280px;
    left: 10px;
    z-index: 1;
    text-shadow: 0 0 1px #072234;
    color: #f1f3f4;
    }











/*.third {
    background-color: #F1F3F4;
    margin-bottom: 200px;
    height: 902px;
}
.backgroundlogo {   
    font: 700 200px/343px "SF";
    position: relative;
    text-transform: uppercase;
    top: -150px;
    left: 50px;
    z-index: 1;
    text-shadow: 0 0 1px #072234;
    color: #f1f3f4;
    }
.prev,
.next   {
    width: 30px;
}


.assortment .pict {
    width: 480px;
    margin: 10px;
    z-index: 2;
}
.textAndNav {
    display: flex;
    justify-content: space-between;


}
.textAndNav p{
    width: 650px;
}
.blockOfPict {
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
}
*/

/*------------------------------------Section 3*/

.news {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.articles p {
    width: 850px;
}
.articles li {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.articles li {
    border-top: 1px solid  #000;
    
}
.articles li:last-child {
    border-bottom: 1px solid #000;
}
.articles a {
    border-bottom: 1px solid #409DE2;
    color: #409DE2;
}